<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Disco</title>
    <link rel="stylesheet" href="/css/editarDisco.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.1.0/dist/css/multi-select-tag.css">
</head>
<body>
    <h1>Editar Disco</h1>

    <form action="/editar-disco/<%= disco.id %>" method="POST" enctype="multipart/form-data">
        <label for="titulo">Título do Disco</label>
        <input type="text" id="titulo" name="titulo" value="<%= disco.titulo %>" required><br><br>

        <label for="ano">Ano</label>
        <input type="date" id="ano" name="ano" value="<%= disco.ano %>" required><br><br>

        <label for="faixa">Faixa</label>
        <input type="text" id="faixa" name="faixa" value="<%= disco.faixa %>" required><br><br>

        <label for="imagem">Imagem</label>
        <input type="file" id="imagem" name="imagem"><br><br>

        <p>Gênero Musical do Disco</p>

        <div class="form-genero"> 
        <label for = "genero"></label>
        <select id="genero" name="genero[]" multiple required>
            <option value="Genérico">Genérico</option>
            <option value="Blues">Blues</option>
            <option value="Country">Country</option>
            <option value="Disco">Disco</option>
            <option value="Eletrônica">Eletrônica</option>
            <option value="Funk">Funk</option>
            <option value="Hip Hop">Hip Hop</option>
            <option value="Indie">Indie</option>
            <option value="Jazz">Jazz</option>
            <option value="K-pop">K-pop</option>
            <option value="Metal">Metal</option>
            <option value="Música Clássica">Música Clássica</option>
            <option value="Pop">Pop</option>
            <option value="Punk">Punk</option>
            <option value="R&B">R&B</option>
            <option value="reggae">Reggae</option>
            <option value="Rock">Rock</option>
            <option value="Samba">Samba</option>
            <option value="Sertanejo">Sertanejo</option>
            <option value="Soul">Soul</option>
            <option value="Trap">Trap</option>
        </select>
    </div>
        <button type="submit">Salvar alterações</button>
    </form>
    <form action="/deletar-disco/<%= disco.id %>" method="POST">
        <button type="submit" >Deletar Disco</button>
    </form>

    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.1.0/dist/js/multi-select-tag.js"></script>
    <script>
        new MultiSelectTag('genero')  
    </script>
    <a href="/catalogo" class="button-link">
        <button type="button">Voltar</button>
    </a>
</body>
</html>
